*{
    list-style: none;
}

.mainContainer{
    width: 90%;
    display: inline-block;
}

.col{
    float: left;
    width: 50%;
    
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    background-color: #e7e6e667;
    border-radius: 10px;
}
.App{
    position: relative;

}

body{
    text-align: center;
    font-size: 20px;
    padding: 2%;
    font-family: "Harmattan", sans-serif;
}

@media screen and (max-width : 600px) {
    .row{
       flex-direction: column;
       align-content: space-around
    }
    .col{
        width: 100%;
    }
    
}